:root {
  --primary-font: 'Libre Franklin', sans-serif;

  --accent-color: #ff8d40;
  --light-accent-color: #ffb68a;
  --secondary-accent-color: #7abb66;
  --light-secondary-accent-color: #94d77e;
  --icons-color: #444748;
  --non-active-cart-color: #c4c7c7;
  --dark-text-color: #191c1d;
  --old-price-color: #444748;
  --ceo-text-color: #8e9192;
  --credits-color: #2d3132;
  --placeholder-color: #a9acac;
  --completed-form-color: #5c5f60;
  --bg-color: #f2f2f2;
  --bg-light-color: #ffffff;
  --bg-footer-light-color: #fcfcfc;
  --bg-footer-dark-color: #eff1f1;
  --bg-completed-form-color: #e0e3e3;
}
