<header>
  <div class="header-container">
    <!-- <div class="header-menu"> -->
    <a href=""
      ><img
        srcset="
          ./images/Main-Logo-SUCHEFF-Text-Small.png,
          ./images/Main-Logo-SUCHEFF-Text-Small@2x.png
        "
        alt="logotype"
    /></a>
    <div class="header-wrapper">
      <svg widht="48" height="48">
        <use
          href="./images/symbol-defs.svg#icon-search-Normal-State-Mobile-Small"
        ></use>
      </svg>
      <svg widht="48" height="48">
        <use href="./images/symbol-defs.svg#icon-cart-24"></use>
      </svg>
      <svg widht="48" height="48">
        <use href="./images/symbol-defs.svg#icon-burger-24"></use>
      </svg>
    </div>
    <!-- </div> -->
  </div>
</header>

<!-- <svg>
  <use href="./images/symbol-defs.svg#icon-OK"></use>
</svg>
<br />
<svg><use href="./images/symbol-defs.svg#icon-Classic-sushi"></use></svg>
<br />
<svg>
  <use href="./images/symbol-defs.svg#icon-Instagram"></use>
</svg> -->
