<header>
  <div class="header-container container">
    <nav class="header-menu">
      <a href="" class="logo-link">
        <svg class="logo__icon" width="115" height="18">
          <use href="./images/symbol-defs.svg#Main-Logo-SUCHEFF"></use></svg
      ></a>
      <div class="header-wrapper">
        <svg class="header-icon" width="24" height="24">
          <use
            href="./images/symbol-defs.svg#icon-search-Normal-State-Mobile-Small"
          ></use>
        </svg>
        <svg width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-cart-24"></use>
        </svg>

        <svg width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-burger-24"></use>
        </svg>
      </div>
    </nav>
  </div>
</header>

<!-- <svg>
  <use href="./images/symbol-defs.svg#icon-OK"></use>
</svg>
<br />
<svg><use href="./images/symbol-defs.svg#icon-Classic-sushi"></use></svg>
<br />
<svg>
  <use href="./images/symbol-defs.svg#icon-Instagram"></use>
</svg> -->
