<header class="header-section">
  <div class="header-container container">
    <nav class="header-menu">
      <a href="" class="logo-link">
        <!-- <img src="./images/Main-Logo-SUCHEFF-Text-Small.png" alt="" /> -->
        <svg class="logo__icon">
          <use
            href="./images/symbol-defs.svg#icon-Main-Logo-SUCHEFF-Text-Small"
          ></use>
        </svg>
      </a>

      <ul class="header-menu-list">
        <li class="header-menu-list__item">
          <button class="header-button">
            <svg class="header-icon">
              <use
                href="./images/symbol-defs.svg#icon-Search-Icon-Options"
              ></use>
            </svg>
          </button>
        </li>
        <li class="header-menu-list__item">
          <button class="header-button">
            <svg class="header-icon cart-inactive">
              <use href="./images/symbol-defs.svg#icon-Cart-for-Mobile"></use>
            </svg>
          </button>
        </li>
        <li class="header-menu-list__item">
          <button class="header-button">
            <svg class="header-icon">
              <use href="./images/symbol-defs.svg#icon-Menu-and-Closed-1"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- <svg>
  <use href="./images/symbol-defs.svg#icon-OK"></use>
</svg>
<br />
<svg><use href="./images/symbol-defs.svg#icon-Classic-sushi"></use></svg>
<br />
<svg>
  <use href="./images/symbol-defs.svg#icon-Instagram"></use>
</svg> -->
